.about {
    padding: 25px 0;
    background: url('../../images/zodiac/zodiac-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__text {
        max-width: 285px;
    }
}

@media screen and (min-width: 420px) {
    .about {
        &__text {
            max-width: 808px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .about {
        padding: 53px 0 40px;
        padding-left: calc((100% - 1080px) / 2);
        &__text {
            max-width: 923px;
            margin: 0;
        }
    }
}